$primary   : #FCA453;
$secondary : #CACACA;
$accent    : #0080ff;

$dark      : #4A4A4A;
$dark-page : #2E2E2E;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
